<!--具体文章的显示页面-->
{% extends base.html %}

{% block title %} SHARING - show_post{% endblock %}

{% block content %}
    <div class="post-body">
        {% if post.body_html %}
            {{ post.body_html | safe }}
        <!--html的格式显示文章-->
        {% else %}
            {{ post.body }}
        {% endif %}
    </div>
    <div class="post-footer">
        <a href=" {{ url_for('.show_post', post_id=post.id) }}">
            <span class="label label-default">固定连接</span>
        </a>
        {% if current_user == post.author %}
        <a href="{{ url_for('.edit', post_id = post.id) }}">
            <span class="label label-permary">编辑</span>
        </a>
        {% elif current_user.is_administrator %}
        <a href="{{ url_for('.edit', post_id = post.id) }}">
            <span class="label label-danger">编辑 [管理员]</span>
        </a>
        {% endif %}
    </div>
{% endblock %}
